ion-item{
    --background: rgb(28, 179, 86);
    --color: #fff;
}

ion-button{
    --background: #fff;
    --color: rgb(11, 17, 105);
}

ion-content{
    --background: #15D0B3;
    --color: #fff;
}

ion-row{
    --background: #15D0B3;
    --color: #fff;
}

ion-item{
    --background: rgb(146, 194, 58);
    --color: #fff;
    --border-color: white;
}

ion-input{
    font-family: 'Arial';
    --placeholder-color: white; 
    --placeholder-opacity: 100;

}

ion-button{
    --background: white;
    --opacity: 100;	
    font-family: 'Arial';
    font-weight: 900;
    color: rgb(23, 161, 81);
}

.divButton {
    padding-top: 20px;
    text-align: center;
}

h1 {
    font-family: 'Arial';
    font-weight: 1000;
    color: white;
    font-size: 40pt;
    padding-top: 20px;
    padding-bottom: 50px;
}

h3{
    color: white;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 10pt;
}

a{
    color: #fff;
    text-align: center;
    align-content: center;
}

.registroText {
    color: white;
    width:70%;
    margin: 0 auto;
    text-align: center;
    padding-top:20px;
}